@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1A1A1A;
    color: #e8e8e8;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    color: #fff;
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: #CFF04A;
  }
  
  ::selection {
    color: black;
    background: #CFF04A;
  }